body {
    background-color:rgb(238, 226, 231);
    font-family: 'Besley', serif;
    line-height: 1.6em;

}
#container {
    background-color: rgb(240, 4, 83);
    width: 900px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #000;
}

header {
    padding: 20px 0;
    border-radius: 20px 20px 0 0;
    text-shadow: 2px 2px 2px #000
}
h1 {
    font-size: 2.6em;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px #000;
}
header img {
    display: block;
    width: 30%;
    margin: 0 auto;
}
h4.header {
    font-size: 2.3em;
    text-align: center;
    color: rgb(201, 2, 111);
    font-family: 'Oswald', sans-serif;

}
main {
    background-color: #CEF299;
    padding: 20px;
    margin: 0 20px 20px 20px;
}
section {
    background-color: #a3120d;
    padding: 20px;
    margin: 0 20px 20px 20px;
    text-align: justify;
}

main h2 {
text-align: center;
color: rgb(121, 8, 70);
font-size: 2em;
font-family: 'Oswald', sans-serif;
}
nav {
    background-color: #F26D6D;
    padding-top: 10px;
    text-align: center;
}
nav a {
    display: inline-block;
    background-color: #CEF299;
    height: 50px;
    width: 175px;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 50px;
    color: rgb(121, 8, 70);
    text-decoration: none;
    border-radius: 10px 10px 0 0;
    margin: 0 10px;
}
nav a:hover {
    background-color: rgb(121, 8, 70);
    color: #CEF299;
}
main img {
    display: block;
    width: 50%;
    margin: 10px auto;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
section img {
    width: 10%;
    position: calc(0 0 10px 10px);
    padding: 5px;
}
footer {
    background-color: rgb(121, 8, 70);
    padding: 60px 0;
    color: #CEF299;
    font-size: 1em;
    text-align: center;
    border-radius: 0 0 20px 20px;
}
.active {
    background-color: rgb(121, 8, 70);
    color: #CEF299;

}
.pro_head {
    text-align: center;
    color: palevioletred;
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
}
p.candy {
    background-color: #7d945b;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #CEF299 ;

}
.audiocontainer {
    display: flex;
    justify-content: center;
}
