/* Global Styles */
body {
    background: linear-gradient(180deg, #262c77, #aee3f3);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}


/* Mobile Styles */
#container {
    background-color: #fff;
    margin: 20px;
}
header {
    background-image: url('../images/cars.jpg');
    background-size: cover;
    padding: 40px 0;
    border-bottom: 1px solid #000;
}
header h1 {
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}
.but {
    border: 4px solid #00c3ff;
    padding: 20px;
    margin: 20px;
    border-radius: 2px;
}
.but h2 {
    text-align: center;
    font-size: 2em;
}
.but img {
    width: 50%;
}
.main_img {
    display: none;
}

footer {
    background-color: #262c77;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}


h2, h3 {
    color: #262c77;
    text-shadow: 2px 2px 2px #000;
    font-size: 1.5em;
    text-align: center;
}



/* Tablet Styles */
@media(min-width: 768px) {
    #container {
        width: 90%;
        margin: 20px auto;
    }
    header {
        padding: 125px;
    }
    header h1 {
        font-size: 3em;
    }
    
    .but {
        width: 50%;
        margin: 20px auto;
    }
    .but h2 {
        text-align: center;
        font-size: 2em;
    }
    
    .but img {
        width: 30%;
        border-radius: 10px;
        border: 2px solid  rgb(241, 160, 38);
    }
}

/* Desktop Styles */
@media(min-width: 1024px) {
    #flex {
        display: flex;
    }
    #container {
        width: 75%;
        margin: 20px auto;
        border: 4px solid  rgb(241, 160, 38);
        border-radius: 20px;
    }
    header {
        border-radius: 20px 20px 0 0;
    }
section, aside {
        margin-left: auto;
        margin-right: auto;
        width: 98%;
    }
    .but {
        width: 100%;
        margin-left: 1em;
        margin: 20px;
    }
    .but img {
        width: 90%;
        margin-left: 1em;
    }
.main_img {
    display: block;
    width: 30%;
    margin: 20px auto;
}

}
